<footer class="bg-dark py-7 mt-5">
	<div class="container">
		<div class="row mx-auto">
			<div class="col-md-10 col-xl-6 mx-auto text-center">
				<a class="navbar-brand" href="/">
					<div class="btn btn-primary mt-4 position-relative rounded-pill">
						<div class="h4 m-0">{{ 'Real Estate'|t }}</div>
						<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
					    your property
					  </span>
					</div>
				</a>
				<div class="socials mt-4">
					<a href="#" class="btn btn-sm btn-primary border-0 me-2">
						<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>
					</a>
					<a href="#" class="btn btn-sm bg-black border-0 me-2">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" width="18" height="18" viewBox="0 0 24 24" stroke="#FFFFFF" style="enable-background:new 0 0 24 24;" xml:space="preserve"><path d="M14.095479,10.316482L22.286354,1h-1.940718l-7.115352,8.087682L7.551414,1H1l8.589488,12.231093L1,23h1.940717  l7.509372-8.542861L16.448587,23H23L14.095479,10.316482z M11.436522,13.338465l-0.871624-1.218704l-6.924311-9.68815h2.981339  l5.58978,7.82155l0.867949,1.218704l7.26506,10.166271h-2.981339L11.436522,13.338465z"/></svg>
					</a>
					<a href="#" class="btn btn-sm bg-info border-0">
						<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-linkedin"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path><rect x="2" y="9" width="4" height="12"></rect><circle cx="4" cy="4" r="2"></circle></svg>
					</a>
				</div>
				<div class="text-white my-3">Copyrights ©{{ 'now' | date('Y') }} {{ 'Real Estate'|t }} | {{ 'Easy Way to Find a Perfect Property'|t }}</div>
			</div>
		</div>
	</div>
</footer>
<div class="back-top"></div>
