<header class="navbar-light header-sticky">
	<nav class="navbar navbar-expand-xl">
		<div class="container">
			<a class="navbar-brand" href="/">
				<div class="btn btn-primary position-relative rounded-pill">
				{{ 'Real Estate'|t }}
					<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
						your property
					</span>
				</div>
			</a>
			<div class="navbar-collapse collapse">
				{{ page.nav_main }}
			</div>
			<a href="#" class="btn btn-success ms-xl-auto">Whatsapp</a>
		</div>
	</nav>
</header>
