{% include '@realestate/page/header.html.twig' %}

<main>
  {% include '@realestate/page/search.html.twig' %}
  <div class="container">
    {{ page.content_header }}
    {{ page.content }}
  </div>
</main>

{{ page.before_footer }}

{% include '@realestate/page/footer.html.twig' %}
